---
const { num, txt, id, size = "sm" } = Astro.props;
import "@fontsource/dela-gothic-one";
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
---

<div id={id} class="cards">
  <div class="card" data-size={size}>
    <div class="card-content">
      <div class="card-info-wrapper">
        <slot name="before">+</slot>
        <div class="container__num-container">
          <div class="odometer">{num}</div>
        </div>
        <slot name="after" />
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  [data-size="sm"] {
    width: 49vw;
    height: 160px;
    background: rgba(77, 77, 77, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.18);
  }

  @media only screen and (max-width: 480px) {
    [data-size="sm"] {
      width: 40vh;
      height: 140px;
      top: 0px;
    }
  }
  @media only screen and (min-width: 1600px) {
    [data-size="sm"] {
      height: 212px;
    }
  }

  .container {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__num-container-c {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      font-weight: bold;
      width: 100%;
      height: 100px;
      border-radius: 20px;
      background-color: #222121;
      color: #a252ff;

      &__others {
        color: #a252ff;
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .container {
      width: 200px;

      &__txt {
        margin-bottom: 20px;
      }
    }
  }
</style>

<style lang="scss">
  h1 {
    color: #fff;
  }

  :root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
  }

  .odometer {
    font-family: "Poppins";
    font-size: clamp(60px, 4vw, 106px);
  }

  #card-1,
  #card-2,
  #card-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: static;
  }

  #card-3 > div {
    font-family: "Poppins", sans-serif;
  }

  .container__num-container {
    font-family: "Poppins", sans-serif;
  }

  .card::after {
    opacity: 1;
    font-family: "Poppins";
  }

  #card-1:hover > .card::after {
    opacity: 1;
  }

  #card-2:hover > .card::after {
    opacity: 1;
  }

  #card-3:hover > .card::after {
    opacity: 1;
  }

  .card {
    background: rgba(77, 77, 77, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    display: flex;
    height: 100px;
    flex-direction: column;
    position: relative;
  }

  .card:hover::before {
    opacity: 1;
    font-family: "Poppins";
  }

  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    font-family: "Poppins";
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }

  .card::before {
    font-family: "Poppins";
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
    z-index: 3;
  }

  .card::after {
    font-family: "Poppins";
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.1),
      transparent 40%
    );
    z-index: 1;
  }

  .card > .card-content {
    font-family: "Poppins";
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    inset: 1px;
    font-size: clamp(2rem, 5vw, 106px);
    padding: 10px;
    position: absolute;
    z-index: 2;
    font-weight: 500;
    color: #fff;
    color: #fff;
  }

  .card-info-wrapper {
    font-family: "Poppins";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
  }

  .container {
    font-family: "Poppins";
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__num-container-c {
      font-family: "Poppins";
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 60px;
      font-weight: bold;
      width: 100%;
      height: 100px;
      border-radius: 20px;
      background-color: #222121;
      color: #a252ff;

      &__others {
        color: #a252ff;
      }
    }

    &__txt {
      text-align: center;
      color: #fff;
      font-size: 20px;
    }
  }

  @media only screen and (min-width: 1600px) {
    .card {
      height: 150px;
      font-size: 100px;
      width: 500px;
    }

    .card-info-wrapper {
      font-size: 80px;
    }

    .container {
      &__num-container-c {
        height: 150px;
        font-size: 100px;
        width: 500px;
      }

      &__txt {
        font-size: 17px;
        width: 300px;
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .container {
      width: 200px;

      &__txt {
        margin-top: 20px;
      }
    }
  }
</style>

<script is:inline>
  document.querySelectorAll(".cards").forEach((card) => {
    document.getElementById(card.id).onmousemove = (e) => {
      for (const card of document.getElementsByClassName("card")) {
        const rect = card.getBoundingClientRect(),
          x = e.clientX - rect.left,
          y = e.clientY - rect.top;

        card.style.setProperty("--mouse-x", `${x}px`);
        card.style.setProperty("--mouse-y", `${y}px`);
      }
    };
  });
</script>
